# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
.Python
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Environnements virtuels
venv/
.venv/
env/
ENV/

# Editeurs
.vscode/
.idea/
*.swp
.DS_Store

# Données volumineuses 
# ai_student_impact_dataset.csv